# DAY 1 PYTHON

In [3]:
print("welcome to python")

welcome to python

In [5]:
print("Python is programming language")

Python is programming language

In [6]:
print("My name is navneet")

My name is navneet

In [7]:
print("I love to learn python")

I love to learn python

In [8]:
print("It is OOPS based programming language")

It is OOPS based programming language

In [ ]:
val1= "20"
val2= "80"

In [16]:
print(val1 + val2)

NameError: name 'val1' is not defined

In [ ]:
val1= "20"
val2= "80"

In [18]:
print(val1 + val2)

NameError: name 'val1' is not defined

In [5]:
x=100
y=200
print(x+y)

300

In [3]:
x+y

300

In [6]:
x=324

In [7]:
print(x+y)

524

In [8]:
name = "NAVNEET SINGH"
age= "24"
location= "Uttar Pradesh"

print("My Name is" + name + "and my age is " + age + "and I live in" + location)

My Name isNAVNEET SINGHand my age is 24and I live inUttar Pradesh

In [11]:
empname ="Navneet Singh"
empage = 24                 ## its showing error because age 24 firstly can be converted to str then only it can run
emplocation ="DELHI"
print ("My name is " + empname + " and my age is " + empage + "and my location assigned to me is" + emplocation)

TypeError: can only concatenate str (not "int") to str

In [12]:
print ("My name is " + empname + " and my age is " + str(empage) + "and my location assigned to me is" + emplocation)

My name is Navneet Singh and my age is 24and my location assigned to me isDELHI

In [18]:
val1 = "20"
val2 = "80"                     ##because both the values are in double inverted comma so it can be considered as string 
print (val1 + val2)

2080

In [19]:
print (int(val1)+ int(val2)) ##convert it to integer

100

In [23]:
val3=(int(val1)+ int(val2))
print(val3)

100

In [ ]:
#DATA TYPE CONVERSION

In [25]:
statement = "My name is NAvneet"
print(statement)

My name is NAvneet

In [26]:
statement1 = 'My name is Navneet'
print(statement1)

My name is Navneet

In [28]:
statement2 = 'My name is NAVNEET I belong to INDIA'
print(statement2)

My name is NAVNEET I belong to INDIA